<h2>Show me...</h2>
<h1>DEM CRYPTIDS</h1>
<% cryptids.forEach((cryptid, index) => { %>
    <a href="/cryptids/<%= index %>">
        Look at <%= cryptid.name %>
    </a>
    <img src="<%= cryptid.img_url %>" alt="<%= cryptid.name %> pic.">
    <form method="POST" action="/cryptids/<%= index %>/?_method=DELETE">
        <input type="submit" value="Delete" />
    </form><br/>
<% }); %>